.mainContainer {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-width: 1250px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.mainContainer input {
  font-family: inherit !important;
}
.mainContainer textarea {
  font-family: inherit !important;
}
.mainContainer * {
  box-sizing: border-box;
}
.mainContainer p {
  padding: 0rem;
  margin: 0rem;
}
/* Seller info section */
.sellerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.sellerContainer h4 {
  font-weight: 700;
  margin: 0rem;
  font-size: 1rem;
  line-height: 24px;
}
.invoiceSellerData {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: var(--fontMainColor);
  min-width: 270px;
  padding-left: 1rem;
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 170px;
  background-color: white;
}
.invoiceSellerData img {
  width: 80px;
  height: 80px;
}

/* Invoice settings section */
.invoiceSettingsHolder {
  display: flex;
  flex-direction: column;
  min-width: 278px;
  min-height: 170px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-left: 1rem;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--fontMainColor);
  background-color: white;
}
.invoiceEsentialSettings {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
}
.invoiceEsentialSettings input[type="date"] {
  width: 120px;
  max-width: 120px;
  font-size: 14px;
  color: var(--fontMainColor);
  cursor: pointer;
  padding: 7px 4px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.invoiceEsentialSettings input[type="text"]{
  width: 120px;
  max-width: 120px;
  font-size: 14px;
  color: var(--fontMainColor);
  cursor: pointer;
  padding: 7px 4px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.invoiceEsentialSettings select {
  display: inline-block;
  width: 120px;
  max-width: 120px;
  font-size: 14px;
  color: var(--fontMainColor);
  cursor: pointer;
  padding: 7px 4px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.invoiceEsentialSettings select::-ms-expand {
  display: none;
}
.invoiceEsentialSettings select:hover,
.invoiceEsentialSettings select:focus {
  color: #000000;
  background: #cccccc;
}
.invoiceEsentialSettings select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.invoiceIssueDateHolder p {
  font-size: 12px;
  padding: 0rem;
  margin: 0rem;
}
.firstInvoiceNoteHolder {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  min-height: 170px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-left: 1rem;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--fontMainColor);
  background-color: white;
}
.firstInvoiceNoteHolder textarea {
  padding: 3px;
  width: 150px;
  height: 131px;
  font-size: 14px;
  border-width: 1px;
  border-color: #d9d9d9;
  background-color: #ffffff;
  color: var(--fontMainColor);
  border-style: solid;
  resize: none;
  border-radius: 4px;
}
.buyerDataHolder {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  min-height: 170px;
  overflow: hidden;
  max-height: 170px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-left: 1rem;
  padding-top: 6px;
  background-color: white;

  padding-bottom: 6px;
  color: var(--fontMainColor);
}
.buyerData {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  position: relative;
  max-width: 100%;
}
.searchContainer {
  display: none;
}
.searchContainer:hover{
  display: block;
}
.nameInput:focus + .searchContainer {
  display: block;
}

.buyerDataHolder input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  padding-left: 4px;
  padding: 1px;
  height: 30px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  max-width: 120px;
  width: 50%;
}
.buyerDataHolder input:hover,
.buyerDataHolder input:focus {
  color: #000000;
  background: #cccccc;
}
.buyerDataHolder select {
  display: inline-block;
  width: 120px;
  width: 80px;
  font-size: 12px;
  color: var(--fontMainColor);
  cursor: pointer;
  padding: 4px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  max-height: 24px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.buyerDataHolder select::-ms-expand {
  display: none;
}
.buyerDataHolder select:hover,
.buyerDataHolder select:focus {
  color: #000000;
  background: #cccccc;
}
.buyerDataHolder select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.articlesContainer {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow: scroll;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding-left: 12px;
  padding-right: 12px;
}
.articlesContainer table {
  text-align: center;
  border-collapse: collapse;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
}
.articlesContainer table tr td {
  padding-top: 1rem;
}
.tableHeder {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.tableHeder th {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-collapse: collapse;
  border: none;
}
.articlesContainer table tr:nth-of-type(even) {
  background: rgba(35, 54, 124, 0.1);
}

/* Calculations container --Displaying values */
.calculationsContainer {
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-width: 270px;
  height: 171px;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.calculationsContainer table {
  text-align: left;
  width: 100%;
}
.calculationsContainer table th {
  font-weight: 700;
  font-size: 1rem;
}
.calculationsContainer table td {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: var(--fontColorTransparent);
}
.calculationsContainer h4 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: var(--fontColorTransparent);
}
.calculationsContainer h4 span {
  color: green;
  font-size: 24px;
}
.articlesContainer td input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--fontColorTransparent);
  font-size: 14px;
}
.articlesContainer td input:focus {
  outline: none;
}
.articlesContainer td input:placeholder-shown {
  color: var(--fontColorTransparent);
}
.articleInputContainer .icon {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  color: var(--blueMain);
}
.articleInputContainer .icon:hover {
  cursor: pointer;
  scale: 0.95;
  opacity: 0.8;
}
.articleInputContainer {
  background-color: #00000000 !important;
}
/*  */
.articleInputContainer select {
  display: inline-block;

  max-width: 120px;
  font-size: 14px;
  color: var(--fontMainColor);
  cursor: pointer;
  padding: 7px 4px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.articleInputContainer select::-ms-expand {
  display: none;
}
.articleInputContainer select:hover,
.articleInputContainer select:focus {
  color: #000000;
  background: #ffffff;
}
.articleInputContainer select:disabled {
  opacity: 0.5;
  pointer-events: none;
}


.invoiceBottomContainer {
  display: flex;
  margin-top: 14px;
  gap: 1rem;
}
.invoiceGeneral {
  width: 434px;
  box-sizing: border-box;
  height: 171px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: white;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
}
.invoiceGeneral h4 {
  font-size: 1rem;
  line-height: 24px;

  padding: 0rem;
  margin: 0rem;
}
.invoiceGeneral textarea {
  width: 100%;
  height: 80%;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.151);
  resize: none;
  font-family: inherit;
}
.buttonAdd {
  border: none;
  padding: 0rem;
  background-color: #ffffff;
}
.buttonAdd:focus {
  outline: none;
  scale: 0.95;
  opacity: 0.85;
}
.dropItemIcon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  color: rgb(170, 24, 24);
}
.dropItemIcon:hover {
  scale: 0.95;
  opacity: 0.85;
  cursor: pointer;
}
.payementMethods {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-width: 370px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  height: 171px;
}
.payementMethods table {
  text-align: left;
}
.payementMethods table th {
  text-align: left;
  min-width: 150px;
}
.payementMethods input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 21px;
  padding: 1px;
  height: 30px;
  padding-left: 4px;
  font-size: 14px;
}

.payementMethods select {
  display: inline-block;

  max-width: 120px;
  font-size: 14px;
  color: var(--fontMainColor);
  cursor: pointer;
  padding: 7px 4px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.payementMethods select::-ms-expand {
  display: none;
}
.payementMethods select:hover,
.payementMethods select:focus {
  color: #000000;
  background: #cccccc;
}
.payementMethods select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.invoiceControlsHolder {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  justify-content: flex-end;
}
.invoiceControlsHolder button {
  padding: 7px 12px;

  background-color: var(--blueMain);
  border: none;
  border-radius: 4px;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
.invoiceControlsHolder button:hover {
  scale: 0.95;
  cursor: pointer;
  opacity: 0.85;
}
.fisBtn {
  background-color: #387a3f !important;
}
.resetBtn {
  background-color: #b43839 !important;
}
.invoiceSubmitLoader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.699);
}


@media (max-width: 1270px) {
  .sellerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  .invoiceSellerData {
    box-sizing: border-box;
    max-width: 500px;
    order: 1;
    min-width: 200px;
  }
  .invoiceSettingsHolder {
    max-width: 500px;
    order: 3;
    min-width: 200px;
  }
  .firstInvoiceNoteHolder {
    max-width: 500px;
    order: 4;
    min-width: 200px;
    padding-right: 12px;
  }
  .firstInvoiceNoteHolder textarea {
    width: 100%;
  }
  .buyerDataHolder {
    box-sizing: border-box;
    max-width: 500px;
    min-width: 200px;
    order: 2;
  }
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
