.container {
  display: flex;
  flex-direction: column;
  width: 684px;
  height: 364px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 12px;
}
.container h4 {
  font-size: 24px;
  padding: 0rem;
  margin: 0rem;
  line-height: 36px;
}
.invoice {
  display: flex;
  gap: 12px;
  width: 98%;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-between;
}
.invoice p{
    display: flex;
    gap: 5px;
    align-items: baseline;
    justify-content: baseline;
    position: relative;
}
.status{
    width: 15px;
    height: 15px;
    border-radius: 9999rem;
    background-color: green;
}
.invoice:hover{
    scale: 0.995;
    cursor: pointer;
    opacity: 0.9;
    
}
.invoicesHolder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: column;
    height: 266px;
    gap: 7px;
    width: 100%;
    overflow: scroll;
}