.dashboardContainer {
  display: flex;
  flex-direction: row;
  max-width: 98%;
  margin-top: 22px;
  gap: 22px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.LeftSideContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.EditorHolder{
  width: 1250px;
  display: flex;
 align-items: flex-start;
 justify-content: center;
 color: #23367c77;
}



@media (max-width: 1270px) {
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
