:root{
  --mainBackground:#f3f3f3;
  --cardBackground:#fbfbfb;
  --cardBorderColor:#ededed;
  --cardRadiusOuter:6px;
  --flexGap:2rem;
  --fontMainColor:#282d3a;
  --secondaryFontColor:#272c39;
  --fontColorTransparent:#676d7d;
  --blueMain:#23367c;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainBackground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--blueMain) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    height: 1px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--blueMain);
    border-radius: 4px;
    border: 1px solid var(--blueMain);
  }